################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OwenLyden.github.io/FileContentIndex
/.vs/OwenLyden.github.io/config
/.vs
